body{
    background-color: slategray;
}
.flexbox1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flexbox2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.thekeypad{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 35px;
    grid-gap: 5px;
    max-width:120px;
}

.keypad_btn{
    background-color: black;
    opacity: 0.75;
    color: cyan;
}

#message{
    border: solid;
    border-radius: 3px;
    width: 50em;
    height: 3em;
}