<html>
    <head>
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/welcome.css") }}>
    </head>
    <body>
        <div id="flexbox">
            <div id="welcome_message">
                <h1>Welcome to our Rogue Game : Covid Version</h1>
                <span>Choose a player mode an try to survive to the Covid Pandemic. Enjoy ! </span>

            </div>
            <div id="flexbox2">
                <img src="static/monster.png" >
                <div id ="choice">
                    <form action="/play" method="get">
                        <button class="button" id="join_multi" type="submit" >start/resume a one player game</button>
                        <input type="hidden" name="multi" value="0" />
                    </form>
                    <form action="/play" method="get">
                        <label for="game_id">Game ID :</label>
                        <input type="number" id="str" name="game_id">
                        <input type="hidden" name="multi" value="1" />
                        <button class="button" id="join_multi" type="submit">join a multiplayer game</button>
                    </form>
                    <form action="/play" method="get">
                        <label for="game_id">Game ID :</label>
                        <input type="number" id="str" name="game_id">
                        <input type="hidden" name="multi" value="0" />
                        <button class="button" id="resume" type="submit">resume a one player game</button>
                    </form>
                    <form action="/play" method="get">
                        <input type="hidden" name="multi" value="1" />
                        <button class="button" id="createmulti" type="submit">create a multiplayergame</button>
                    </form>
                </div>
                <img src="static/player.png" >
            </div>
            <img src="static/vaccin.png"  class="vaccin">
        </div>
    </body>
</html>